 body { 
 font-family: "Lucida Sans Unicode", "Lucida Grande"; 
 background: rgba(255,0,0,0.1); }
 div {
 text-align: center; }
 nav { 
 text-align: center 
 }
 a{ 
 font-size: 24px;
 color:#9D144B; }
 
header { 
background-color: #BC4D6A;
font-family: 'Indie Flower';
text-align: center;
font-size: 40px;
 }
 
 @media (max-width: 480px) {
img { width:60%; }
p {
    text-align:center}

}