 nav { 
 text-align: center 
 }
 a{ 
 font-size: 24px;
 color:#9D144B; }
 
header { 
background-color: #BC4D6A;
font-family: 'Indie Flower';
text-align: center;
font-size: 40px;
 }
 body { 
 font-family: "Lucida Sans Unicode", "Lucida Grande"; 
 background: rgba(255,0,0,0.1); }
.employer {
font-size: 18px; }
.content {
border-bottom: 4px dashed #BC4D6A; }
